avg_snowfall/token
avg_tmp/1977_1987.csv
avg_tmp/1987_1997.csv
avg_tmp/1997_2007.csv
avg_tmp/2007_2017.csv
avg_tmp/climate
avg_tmp/feb_3.csv
avg_tmp/ghcnd-stations.txt
avg_tmp/gj-ghcnd-stations.txt
avg_tmp/gj_tmps
avg_tmp/jan_11.csv
avg_tmp/notes.txt
avg_tmp/nov_20.csv
